.best-backpacking-locations {
  padding: 20px;
  margin: 10px 0;
  max-width: 1200px;
}

.best-backpacking-locations h2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 45px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.line {
  overflow: hidden;
  text-align: center;
}

.line::before,
.line::after {
  background-color: #dedede;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

.line::before {
  right: 0.5em;
  margin-left: -50%;
}

.line::after {
  left: 0.5em;
  margin-right: -50%;
}

.best-backpacking-locations p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 23px;
  font-family: "Lora", Sans-serif;
}

.best-b-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 992px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .best-backpacking-locations h2 {
    font-size: 36px;
  }

  .best-backpacking-locations p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .best-backpacking-locations h2 {
    font-size: 32px;
  }

  .best-backpacking-locations p {
    font-size: 18px;
  }
}

.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 2px;
}

.post-title {
  font-size: 23px;
  text-decoration: none;
  margin-top: 5px;
  text-align: center;
  color: black;
  font-weight: 600;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.post-card {
  overflow: hidden;
  transition: transform 0.3s;
}

.post-card:hover {
  transform: scale(1.05);
}
