.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.post-buttons {
  display: flex;
  justify-content: center;
  margin: 0;
}

.btn {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:last-child:hover{
  background-color: rgb(223, 3, 3);
}

.btn:hover {
  background-color: #555;
}