.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.contact-hero {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("https://www.thehotelguru.com/_images/39/16/3916c5c5da57ca73407c688696623a81/java-s1180x560.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.contact-hero h1 {
  font-size: 40px;
}

.contact-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input.error,
textarea.error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.875rem;
}

button {
  width: 150px;
  padding: 10px 0px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-form {
    gap: 15px;
  }

  .contact-hero h1 {
    font-size: 30px;
  }

  .contact-hero .overlay {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .contact-form {
    gap: 10px;
  }

  .contact-hero h1 {
    font-size: 24px;
  }

  .contact-hero .overlay {
    font-size: 1.5rem;
  }

  input,
  textarea {
    font-size: 0.875rem;
  }
}
