.featured-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    margin: 20px 0;
  }
  
  .featured-on h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .featured-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .featured-logo {
    height: 100px; /* Adjust the size as needed */
    object-fit: contain;
  }
  