.featured-on {
  margin: 20px 0 40px;
  text-align: center;
}

.featured-on h1 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

.featured-logos {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.featured-logo {
  height: 100px;
  object-fit: contain;
}

.featured-logo:hover {
  opacity: 0.7;
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1::before,
h1::after {
  background-color: #dedede;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h1::before {
  right: 0.5em;
  margin-left: -50%;
}

h1::after {
  left: 0.5em;
  margin-right: -50%;
}

@media (max-width: 1200px) {
  .featured-logo {
    height: 80px;
  }
}

@media (max-width: 992px) {
  .featured-logos {
    gap: 15px;
  }

  .featured-logo {
    height: 70px;
  }

  .featured-on h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .featured-logos {
    gap: 10px;
  }

  .featured-logo {
    height: 60px;
  }

  .featured-on h1 {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .featured-logos {
    gap: 5px;
  }

  .featured-logo {
    height: 50px;
  }

  .featured-on h1 {
    font-size: 30px;
  }
}
