.featured-on {
  height: 200px;
  margin: 20px 0 40px;
}

.featured-on h1 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

.featured-logos {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.featured-logo {
  height: 100px;
  object-fit: contain;
}

.featured-logo:hover {
  opacity: 0.7;
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1::before,
h1::after {
  background-color: #DEDEDE;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h1::before {
  right: 0.5em;
  margin-left: -50%;
}

h1::after {
  left: 0.5em;
  margin-right: -50%;
}