.instagram-section {
  padding: 0px;
  margin: 0;
  text-align: center;
}

.instagram-section h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
  padding-bottom: 20px;
}

.instagram-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.instagram-image {
  width: calc(100% / 6);
  height: auto;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .instagram-image {
    width: calc(100% / 4);
  }
}

@media (max-width: 768px) {
  .instagram-image {
    width: calc(100% / 3);
  }
}

@media (max-width: 480px) {
  .instagram-image {
    width: calc(100% / 2);
  }
}