.search-bar {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.search-bar input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.2rem;
}

@import "@fortawesome/fontawesome-free/css/all.css";

@media (max-width: 1000px) {
  .search-bar {
    margin-left: 15px;
  }
}
